::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@font-face {
	font-family: PTSansNarrowRegular;
	src: url('../webfonts/PTSansNarrow-Regular.ttf');
	font-weight: 400;
	font-style: normal;	
}

@font-face {
	font-family: PTSansNarrowBold;
	src: url('../webfonts/PTSansNarrow-Bold.ttf');
	font-weight: 700;
	font-style: normal;	
}

@font-face {
	font-family: UbuntuCondensedRegular;
	src: url('../webfonts/UbuntuCondensed-Regular.ttf');
	font-weight: 400;
	font-style: normal;	
}

body {
	font-family: PTSansNarrowBold;
	font-size: 18px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.reg {
  font-family: UbuntuCondensedRegular;
	font-size: 16px;
}